polkit.addRule(function(action, subject) {
	var YES = polkit.Result.YES;
	var permission = {
		"org.freedesktop.udisks.filesystem-mount": YES,
		"org.freedesktop.udisks.filesystem-mount-system-internal": YES,
		"org.freedesktop.udisks.luks-unlock": YES,
		"org.freedesktop.udisks.drive-eject": YES,
		"org.freedesktop.udisks.drive-detach": YES
	};
	if (subject.isInGroup("storage")) {
		return permission[action.id];
	}
});
